In [2]:
# Standard stuff
import numpy as np
import pandas as pd

# imports for data transformation and model
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# viz libraries
import matplotlib.pyplot as plt

# sql alchemy for connecting to database
from sqlalchemy import create_engine, func
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base


import os

In [4]:
file_path = 'Data/artists.csv'
df = pd.read_csv(file_path)
df.head(10)

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0
5,0DotfDlYMGqkbzfBhcA5r6,7.0,[],Astral Affect,0
6,0DqP3bOCiC48L8SM9gK4W8,1.0,[],Yung Seed,0
7,0Drs3maQb99iRglyTuxizI,0.0,[],Wi'Ma,0
8,0DsPeAi1gxPPnYjgpiEGSR,0.0,[],lentboy,0
9,0DtvnTxgZ9K5YaPS5jdlQW,20.0,[],addworks,0

In [6]:
df.shape

(1104349, 5)

In [31]:
print(type(df.loc[0,'genres']))

<class 'str'>

In [37]:
df['genres'] = df['genres'].str.strip('[]')

In [38]:
df.head(10)

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,,Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,,ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,,Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,,Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,,Ioannis Panoutsopoulos,0
5,0DotfDlYMGqkbzfBhcA5r6,7.0,,Astral Affect,0
6,0DqP3bOCiC48L8SM9gK4W8,1.0,,Yung Seed,0
7,0Drs3maQb99iRglyTuxizI,0.0,,Wi'Ma,0
8,0DsPeAi1gxPPnYjgpiEGSR,0.0,,lentboy,0
9,0DtvnTxgZ9K5YaPS5jdlQW,20.0,,addworks,0

In [43]:
nan_value = float('NaN')
df.replace('', nan_value, inplace=True)
df.dropna(subset=['genres'], inplace=True)

In [44]:
df.head(10)

,id,followers,genres,name,popularity
45,0VLMVnVbJyJ4oyZs2L3Yl2,71.0,'carnaval cadiz',Las Viudas De Los Bisabuelos,6
46,0dt23bs4w8zx154C5xdVyl,63.0,'carnaval cadiz',Los De Capuchinos,5
47,0pGhoB99qpEJEsBQxgaskQ,64.0,'carnaval cadiz',Los “Pofesionales”,7
48,3HDrX2OtSuXLW5dLR85uN3,53.0,'carnaval cadiz',Los Que No Paran De Rajar,6
136,22mLrN5fkppmuUPsHx6i2G,59.0,"'classical harp', 'harp'",Vera Dulova,3
141,1OsJZxSshQD4BCg1VtwxsN,155.0,'classical contralto',Anna Larsson,19
142,5JRTWjFYThNR99D7IOEmn0,106.0,'british choir',BBC Chorus,16
144,4sTTEheJxmjwv9TmrHOaPz,288.0,"""children's story""",Honor Blackman,15
148,3zQdpHMTdJnV4aCzGqCBYK,3918.0,"'classic persian pop', 'persian traditional'",Javad Maroufi,26
153,7frYUe4C7A42uZqCzD34Y4,53636.0,"'desi pop', 'punjabi hip hop', 'punjabi pop'",Sultaan,53

In [45]:
df.shape

(298616, 5)

In [46]:
df.to_csv('Data/cleaned_artists.csv')